GOOGLE_CREDENTIALS_FILE=service_account.json
SHEET_ID=YOUR_SHEET_ID_HERE
PURCHASE_SHEET_NAME=仕入管理
HOME_SHIPMENT_SHEET_NAME=自宅発送
WORK_RECORD_SHEET_NAME=作業記録
INSTRUCTION_SHEET_NAME=yiwu指示書
INSPECTION_MASTER_SHEET_ID=YOUR_INSPECTION_MASTER_SHEET_ID
INSPECTION_MASTER_SHEET_GID=YOUR_INSPECTION_MASTER_SHEET_GID
INSPECTION_TEMPLATE_SHEET_ID=YOUR_INSPECTION_TEMPLATE_SHEET_ID
INSPECTION_TEMPLATE_SHEET_GID=YOUR_INSPECTION_TEMPLATE_SHEET_GID
API_KEY=YOUR_SP_API_KEY
API_SECRET=YOUR_SP_API_SECRET
REFRESH_TOKEN=YOUR_SP_API_REFRESH_TOKEN
KEEPA_API_KEY=YOUR_KEEPA_API_KEY
